* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: rgb(167, 219, 216);
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(243, 134, 48);
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(243, 134, 48);
}

nav a {
  color: rgb(224, 228, 204);
}

h1 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 3rem;
  color: rgb(224, 228, 204);
}

h2 {
  text-align: center;
  font-size: 3rem;
}

i {
  font-size: 8rem;
  color: rgb(243, 134, 48);
}

section {
  width: 75%;
  margin: 5rem auto;
  border-style: solid;
  border-width: 5px;
  padding: 1rem;
  background-color: rgb(224, 228, 204);
  border-radius: 0.5rem;
}

nav a {
  font-size: 1.5rem;
}

#about-me {
  margin: 3rem auto;
}

#about-me-title {
  margin: 2.5rem auto 0 auto;
}

#about-me-pic-and-text {
  display: flex;
  margin: 1rem 5rem 2.5rem 5rem;
}

#about-me-paragraphs {
  display: flex;
  flex-flow: column wrap;
  font-size: 1.5rem;
}

#about-me-paragraph-one {
  margin-top: 0;
}

#selfie {
  border-radius: 0.5rem;
  margin-right: 5rem;
  width: 30%;
  height: 30%;
}

#tech-stack-header {
  margin-bottom: 1rem;
}
#tech-stack-body {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
  max-width: 20rem;
  color: rgb(243, 134, 48);
  margin: 0;
}

.project-title {
  margin-bottom: 0;
}

.project-language {
  margin-top: 0;
  color: rgb(243, 134, 48);
  text-align: center;
}

.project-description {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 0;
  color: black;
}
.project:hover .project-description {
  visibility: visible;
}

#contact-me {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

#contact-methods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer {
  background-color: rgb(243, 134, 48);
}

footer p {
  text-align: center;
  padding: 3rem;
  margin-bottom: 0;
  color: rgb(224, 228, 204);
  font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
  #about-me-pic-and-text {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
  }

  #selfie {
    min-width: 75%;
    padding: 2rem 0;
    margin-right: 0;
    margin: 0 auto;
  }

  #tech-stack-body {
    padding: 0;
  }

  .project-description {
    visibility: visible;
  }

  nav {
    justify-content: center;
  }

  nav a {
    text-align: center;
  }

  section {
    width: 85%;
  }
}
